<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/dashboard.css">
    <script type="text/javascript" src="./js/dashboard.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Dashboard</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a class="logo" id="logo">Farm Management System</a>
    </div>

    <div class="content">
        <!-- Vertical Navbar -->
        <nav class="vertical-navbar" id="vertical-navbar">
            <ul>
                <li data-tab-target="#schedules"><i class="fa fa-calendar fa-solid"></i> Schedules</li>
                <li data-tab-target="#livestock"><i class="fa fa-cow fa-solid"></i> Livestock</li>
                <li data-tab-target="#plants"><i class="fa fa-leaf fa-solid"></i> Plants</li>
                <li data-tab-target="#equipment"><i class="fa fa-tools fa-solid"></i> Equipment</li>
                <li data-tab-target="#farmlocation"><i class="fa fa-map-location fa-solid"></i> farmlocation</li>
            </ul>
        </nav>

        <!-- Main Section -->
        <main class="tab-content">
            <div id="schedules" data-tab-content >Schedules </div>
            <div id="livestock" data-tab-content>
                <div class="crop-buttons">
                    <button class="btn btn-success" id="openCowModalButton">Add Cows</button>
                    <button class="btn-refresh" id="refreshButton"> <i class="fa fa-refresh fa-solid"></i> </button>
                </div>
                <div class="tab-content">
                    <h1>Cows</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>Tag</th>
                                <th>Type</th>
                                <th>Milk Quantity</th>
                                <th>Milk Price</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let totalMilkPrice = 0; %>
                            <% for (let i = 0; i < cows.length; i++) { %>
                                <tr scope="row">
                                    <td><%= cows[i].cowTag %></td>
                                    <td><%= cows[i].cowType %></td>
                                    <td><%= cows[i].milkQuantity %></td>
                                    <td><%= cows[i].milkPrice %></td>
                                    <td><%= cows[i].milkQuantity * cows[i].milkPrice %></td>
                                    <% totalMilkPrice += cows[i].milkQuantity * cows[i].milkPrice; %>
                                </tr>
                            <% } %>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total:</td>
                                <td><%= totalMilkPrice %></td>
                            </tr>
                        </tbody>
                    </table>
                    
             
            
                </div>
            </div>
            <div id="plants" data-tab-content>
                <div class="crop-buttons">
                    <button class="btn btn-success" id="openModalButton">New crop Type</button>
                    <button class="btn-refresh" id="refreshButton"> <i class="fa fa-refresh fa-solid"></i> </button>
                </div>
                <div class="tab-content">
                    <h1>My Crops</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>Crop Name</th>
                                <th>Quantity</th>
                                <th>Crop Price</th>
                                <th>Notes</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let totalCropPrice = 0; %>
                            <% for (let i = 0; i < crops.length; i++) { %>
                                <tr>
                                    <td data-bs-toggle="tooltip" data-bs-placement="right" title="Crop name"><%= crops[i].cropName %></td>
                                    <td><%= crops[i].Quantity %></td>
                                    <td><%= crops[i].cropPrice %></td>
                                    <td><%= crops[i].cropDescription %></td>
                                    <td><%= crops[i].Quantity * crops[i].cropPrice %></td>
                                    <% totalCropPrice += crops[i].Quantity * crops[i].cropPrice; %>
                                </tr>
                            <% } %>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total:</td>
                                <td><%= totalCropPrice %></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    
                    
                </div>
            </div>
            <div id="equipment"  class="active"  data-tab-content>
                <div class="crop-buttons">
                    <button class="btn btn-success" id="openToolsModalButton">Add Equipment</button>
                    <button class="btn-refresh" id="refreshButton"> <i class="fa fa-refresh fa-solid"></i> </button>
                </div>
                <div class="tab-content">
                    <h1>Equipments</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>Receiver Name</th>
                                <th>Tool Name</th>
                                <th>Location</th>
                                <th>Date</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                                  <!-- Add table product rows here -->
                        <% for (let i = 0; i < tools.length; i++) { %>
                            <tr>
                                <td><%= tools[i].receiverName %></td>
                                <td><%= tools[i].toolName %></td>
                                <td><%= tools[i].useLocation %></td>
                                <td><%= tools[i].usedDate %></td>
                     
                            </tr>
                            <% } %>
                     
                        </tbody>
                    </table>
            </div>
            <div id="farmlocation" data-tab-content>farmlocation </div>
        </main>
    </div>

    <!-- Modal for New Crop Type -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h4 class="modal-title">Crop Type Form</h4>
                </div>
                <div class="modal-body">
                    <form id="cropForm" action="/dashboard" method="post">
                        <div class="form-group">
                            <label for="cropName"> <i class="fa fa-seedling fa-solid"></i> Crop Name</label>
                            <input type="text" class="form-control" id="cropName" name="cropName"  placeholder="...">
                        </div>
  
                        <div class="form-group">
                          <label for="Quantity"> <i class="fa fa-cubes fa-solid"></i> Quantity</label>
                          <input type="number" class="form-control" id="Quantity" name="Quantity" placeholder="00">
                      </div>
  
                        <div class="form-group">
                          <label for="cropPrice"> <i class="fa fa-coins fa-solid"></i> Price</label>
                          <input type="number" class="form-control" id="cropPrice" name="cropPrice" placeholder="$00.00" required>
                      </div>
  
                        <div class="form-group">
                            <label for="cropDescription"> <i class="fa fa-book fa-solid"></i> Notes</label>
                            <textarea class="form-control" id="cropDescription" name="cropDescription" rows="4" placeholder="..."></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeModalButton" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="cropForm">Save</button>
                </div>
            </div>
        </div>
      </div>



      <!-- Modal for Cow Section -->
    <div id="cowModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fas fa-cow"></i> Add Cows</h4>

                </div>
                <div class="modal-body">
                    <form  id="cowForm" action="/dashboard" method="post">
                        <div class="form-group">
                            <label for="cowTag"> <i class="fas fa-tag"></i> Tag</label>
                            <input type="text" id="cowTag" name="cowTag" placeholder="..." required>
                        </div>
  
                        <div class="form-group">
                            <label for="cowType"> <i class="fas fa-cow"></i> Type</label>
                            <input type="text" id="cowType" name="cowType" placeholder="Fresian, ..." required>
                      </div>
  
                        <div class="form-group">
                            <label for="milkQuantity"> <i class="fa-solid fa-mug-saucer"></i> Milk Quantity</label>
                            <input type="number" id="milkQuantity" name="milkQuantity" min="0" step="1" placeholder="00" required>
                      </div>
  
                        <div class="form-group">
                            <label for="milkPrice"> <i class="fas fa-coins"></i> Milk Price</label>
                            <input type="number" id="milkPrice" name="milkPrice" min="0" step="0.01" placeholder="$00.00" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeCowModalButton" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="cowForm">Save</button>
                </div>
            </div>
        </div>
      </div>

      
      <div id="toolsModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fas fa-cow"></i> Add Cows</h4>

                </div>
                <div class="modal-body">
                    <form  id="toolsForm" action="/dashboard" method="post">
                        <div class="form-group">
                            <label for="receiverName"> <i class="fas fa-person"></i> Tag</label>
                            <input type="text" id="receiverName" name="receiverName" placeholder="Receiver Name" required>
                        </div>
  
                        <div class="form-group">
                            <label for="toolName"> <i class="fas fa-tools"></i> Type</label>
                            <input type="text" id="toolName" name="toolName" placeholder="Tool Name" required>
                      </div>
  
                        <div class="form-group">
                            <label for="useLocation"> <i class="fa-solid fa-map-location"></i> Use Location</label>
                            <input type="text" id="useLocation" name="useLocation"  placeholder="Use Location" required>
                      </div>
  
                        <div class="form-group">
                            <label for="usedDate"> <i class="fas fa-calendar"></i> Use Date and Time</label>
                            <input type="datetime" id="usedDate" name="usedDate" placeholder="Date and Time" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeToolsModalButton" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="toolsForm">Save</button>
                </div>
            </div>
        </div>
      </div>


</body>
</html>
